@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: gameofsquid;
  src: url(../fonts/Gameofsquid.ttf);
}
@font-face {
  font-family: chino;
  src: url(../fonts/chineserocksrg.otf);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: montserrat;
}

/*
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "navbar navbar navbar navbar"
                         "header header header header"
                         "main   main   main   main"
                         "footer footer footer footer";
}

.navbar {
    grid-area: navbar;
    position: sticky;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 15px;
    box-shadow: 0 4px 4px #00000026;
    z-index: 20;
    background-color: rgb(255, 255, 255);
    top: 0%;
    text-transform: uppercase;
    ul {
    list-style: none;
    display: flex;
    li {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

}

.navbar 

.navbar ul 
}

.logo1 img {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
}
*/
.nombre {
  padding: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
}

.imagen {
  width: 100%;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.nombre {
  padding: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
}

.imagen {
  width: 100%;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.nombres {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin: 10px;
}

.fotos {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

a {
  color: black;
  font-weight: 800;
  font-style: normal;
}

.contenedorMarcas {
  display: flex;
}

.marcas {
  width: 270px;
}

.paginas:hover {
  color: #c300ff;
}

a:link {
  text-decoration: none;
}

#tituloTexto {
  display: flex;
  justify-content: left;
  color: rgb(0, 0, 0);
  margin-left: 120px;
  margin-top: 80px;
  font-size: 28px;
  font-family: gameofsquid;
}

#aboutus {
  display: flex;
  justify-content: left;
  font-family: chino;
  color: #4207AD;
  margin-left: 120px;
  font-size: 120px;
}

.texto1 {
  display: flex;
  margin-left: 120px;
  text-align: left;
  align-items: center;
  font-size: 28px;
}

.texto1 p {
  margin-top: -10px;
}

#f1 {
  width: 650px;
  margin-left: 140px;
  margin-right: 150px;
}

.fotos2 h6 {
  font-size: 20px;
  background: linear-gradient(to right, #ffffff 25%, #4207AD 21%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 120px;
  margin-right: 200px;
}

.contenedorMail {
  background-image: url(../img/emailbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 70px;
}

.contenedorForm {
  position: relative;
  margin-right: 220px;
  width: 500px;
  margin-top: 5px;
  border: rgb(255, 255, 255) solid;
  border-radius: 2px;
}

.contenedorForm2 {
  position: relative;
  margin-right: 220px;
  width: 500px;
  margin-top: 5px;
  border: rgb(255, 255, 255) solid;
  border-radius: 2px;
}

.mail {
  width: 100%;
}

.redes img {
  width: 32px;
}

.redes {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 70px;
}

.tituloTexto {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 25px;
}

#esport {
  font-family: gameofsquid;
}

.Titulo2 {
  font-family: chino;
  color: #4207AD;
  font-size: 50px;
}

.fotos3 {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.footer1 {
  grid-area: footer;
}

.footer h6 {
  font-size: 20px;
  background: linear-gradient(to right, #ffffff 25%, #4207AD 17%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__img {
  width: 230px !important;
  margin-left: 25px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
}

.logoLink {
  display: flex;
  align-items: center;
}

.footer ul {
  list-style: none;
}

.footer a {
  color: rgb(255, 255, 255);
}

.footer img {
  width: 32px;
}

.boton {
  position: absolute;
  right: 0;
  background-color: #c300ff;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.footer3 p {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 50px;
}

.h5 {
  background-color: #000000;
  color: white;
  font-size: 18px;
}

.shop {
  width: 100%;
}

.TituloShop {
  font-family: chino;
  color: #4207AD;
  font-size: 70px;
}

.contenedorShop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contenedorShop2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.shopTitulo {
  font-size: 18px;
  margin: 5px 0px;
}

.shopDesc {
  padding: 5px;
}

.shopTotal {
  padding: 5px;
  font-size: 32px;
}

.contenedorShop img {
  padding: 10px;
  width: 300px;
}

.contact {
  width: 100%;
}

#tituloContact {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 28px;
  margin: 50px;
  font-family: gameofsquid;
}

#btnformu {
  margin-left: 170px;
}

.cajaContacto {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cajaDatos {
  background-color: rgba(128, 128, 128, 0.144);
  margin: 10px;
  padding: 10px;
  width: 600px;
}

.formulario {
  width: 200px;
  margin: 10px;
}

.tituloFormulario {
  padding: 10px;
}

.fullname {
  margin: 10px;
  padding: 10px;
  width: 500px;
}

.email {
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.text {
  margin: 10px;
  width: 500px;
  padding: 10px;
}

.submit {
  margin: 10px;
  padding: 10px;
  background-color: #4207AD;
  color: white;
  width: 200px;
}

.telefono {
  font-size: 24px;
  margin: 10px;
  padding: 20px;
}

.mailcontacto {
  font-size: 24px;
  margin: 10px;
  padding: 20px;
}

.ubicacion {
  font-size: 24px;
  margin: 10px;
  padding: 20px;
}

.tituloUbi {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 28px;
  margin-top: 50px;
  font-family: gameofsquid;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapa {
  width: 85%;
  height: 700px;
  margin-bottom: 70px;
  margin-top: 25px;
}

.imgMatches {
  width: 100%;
}

.btn1 {
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  color: black;
  border-color: white;
  border-color: black;
}

.btnShop, .btnShop-primario {
  padding: 8px 12px;
  color: white;
  border: 0px;
  width: 280px;
  text-transform: uppercase;
  width: 250px;
  height: auto;
  color: #fff;
}

.btnShop-primario {
  background-color: #4207AD;
}

.contenedorMarcas {
  flex-wrap: wrap;
}

.contenedorForm {
  width: 100%;
}

.mail {
  width: 100%;
}

.contenedorMatches {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.144);
}

.contenedorMatch {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.contenedorEquipos {
  display: flex;
  align-items: center;
  gap: 50px;
}

.contenedorResultado {
  display: flex;
}

.contenedorResultado2 {
  display: flex;
  align-items: center;
}

.contenedorVivo {
  display: flex;
  background-color: #4207AD;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
  gap: 10px;
  color: white;
}

.imgResultado {
  width: 50px;
  height: 50px;
}

.botonResultado {
  width: 100px;
  border-radius: 20px;
  color: white;
  background-color: #4207AD;
}

.ytResultado {
  width: 100px;
}

.fotoMatch {
  width: 100px;
}

.btn1:hover {
  box-shadow: inset 200px 0 0 0 #4207AD;
  color: white;
}

.tituloRoster {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: gameofsquid;
  margin-top: 10px;
}

.tituloRoster2 {
  display: flex;
  justify-content: center;
  font-family: chino;
  color: #4207AD;
  font-size: 80px;
}

.contenedorRoster {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

.contenedorRoster2 {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: black;
}

.infoJugador {
  color: white;
  width: 200px;
}

.apodo {
  color: #4207AD;
  font-family: chino;
  font-size: 50px;
}

.imgRoster {
  width: 200px;
}

.textoAbout {
  display: flex;
  margin-left: 120px;
  text-align: left;
  align-items: center;
  font-size: 28px;
  margin: 10px;
}

.textoAbout p {
  margin-top: -10px;
}

.imgSK {
  width: 650px;
  margin-left: 140px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.textoAbout1 {
  display: flex;
  margin-left: 120px;
  text-align: left;
  align-items: center;
  font-size: 28px;
  margin: 10px;
  background-color: rgba(182, 180, 180, 0.158);
}

.textoAbout2 {
  margin: 20px;
}

.tituloAbout {
  font-family: gameofsquid;
  font-size: 42px;
}

.contenedorAchv {
  background-color: black;
}

.contenedorTextoAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big {
  color: white;
  font-family: gameofsquid;
  font-size: 30px;
  margin-top: 20px;
}

.achiv {
  color: #4207AD;
  font-family: chino;
  font-size: 80px;
  margin-top: -30px;
}

.contAbout {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.contNum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num {
  color: #4207AD;
  font-size: 100px;
  font-family: chino;
}

.num2 {
  color: white;
  font-size: 24px;
}

.contenedorMision {
  display: flex;
  margin: 20px;
}

.contVi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num3 {
  color: #4207AD;
  font-size: 80px;
  font-family: chino;
}

.num4 {
  font-size: 20px;
}

@media (max-width: 1500px) {
  #aboutus {
    margin-bottom: 200px;
    font-family: chino;
    color: #4207AD;
    font-size: 120px;
  }
  .texto1 {
    display: flex;
    flex-direction: column;
  }
  #f1 {
    width: 600px;
    margin-left: 140px;
    margin-right: 150px;
  }
  .textoAbout {
    display: flex;
    flex-direction: column;
  }
  .textoAbout1 {
    display: flex;
    flex-direction: column;
  }
  .imgSK {
    width: 600px;
    margin-left: 140px;
    margin-right: 150px;
  }
  .contenedorForm {
    width: 100%;
  }
  .mail {
    width: 100%;
  }
  .cajaContacto {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .fullname {
    margin: 10px;
    padding: 10px;
    width: 300px;
  }
  .email {
    width: 300px;
    margin: 10px;
    padding: 10px;
  }
  .text {
    margin: 10px;
    width: 300px;
    padding: 10px;
  }
  #btnformu {
    margin-left: 50px;
  }
}
@media (max-width: 1400px) {
  .navbar ul li {
    padding: 5px;
    font-size: 16px;
  }
  .logo1 img {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
  }
  .redes img {
    width: 24px;
  }
  .redes {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
  }
  .contenedorMarcas {
    display: flex;
    justify-content: space-between;
  }
  .marcas {
    width: 160px;
  }
  #spo {
    display: none;
  }
  #lg {
    display: none;
  }
  #aboutus {
    margin-bottom: 200px;
    font-family: chino;
    color: #4207AD;
    font-size: 120px;
  }
  .texto1 {
    display: flex;
    flex-direction: column;
  }
  #f1 {
    width: 600px;
    margin-left: 140px;
    margin-right: 150px;
  }
  .textoAbout {
    display: flex;
    flex-direction: column;
  }
  .textoAbout1 {
    display: flex;
    flex-direction: column;
  }
  .imgSK {
    width: 600px;
    margin-left: 140px;
    margin-right: 150px;
  }
  .fotos3 {
    display: flex;
    justify-content: space-around;
  }
  .contenedorMail {
    background-image: url(../img/Newsletter_Mobile.jpg);
  }
  #nueve {
    width: 250px;
    height: 150px;
  }
  #method {
    width: 250px;
    height: 150px;
  }
  #TL {
    width: 300px;
    height: 150px;
  }
  #apex {
    display: none;
  }
  .contenedorForm {
    width: 100%;
  }
  .contenedorForm2 {
    width: 50%;
  }
  .mail {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .cajaContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*1652 x 937*/
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .logo1 img {
    margin-top: 10px;
    padding: 5px;
    width: 260px;
  }
  .redes img {
    width: 40px;
  }
  .contenedorMarcas {
    display: flex;
    justify-content: space-between;
  }
  .marcas {
    width: 30%;
  }
  #adi {
    display: none;
  }
  #visa {
    display: none;
  }
  #spo {
    display: none;
  }
  #lg {
    display: none;
  }
  #tituloTexto {
    display: flex;
    justify-content: left;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-family: gameofsquid;
    margin-left: 50px;
  }
  #aboutus {
    display: flex;
    justify-content: left;
    font-family: chino;
    color: #4207AD;
    margin-left: 50px;
    font-size: 120px;
  }
  .texto1 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  #f1 {
    width: 400px;
  }
  .textoAbout {
    display: flex;
    flex-direction: column;
  }
  .textoAbout1 {
    display: flex;
    flex-direction: column;
  }
  .imgSK {
    width: 400px;
  }
  .fotos3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    gap: 10px;
  }
  .contenedorMail {
    background-image: url(../img/Newsletter_Mobile.jpg);
  }
  #nueve {
    width: 250px;
    height: 150px;
  }
  #method {
    width: 250px;
    height: 150px;
  }
  #TL {
    width: 250px;
    height: 150px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .contenedorForm {
    width: 100%;
  }
  .mail {
    width: 100%;
  }
  .cajaDatos {
    background-color: rgba(128, 128, 128, 0.144);
    margin: 10px;
    padding: 10px;
    width: 400px;
  }
  .formulario {
    margin-left: -120px;
  }
  .fotoMatch {
    display: none;
  }
  .contenedorMision {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */